<?php
require_once 'copycat.inc';

$GLOBALS['copycat_config']=Array(
'poi_orig_turismo' => Array(
            'id'=>'3',
            'importer' => 'poi_orig_turismo',
            'domain' => 'http://turismo-demo.nuragus.sys', 
            'server' => 'http://turismo-demo.nuragus.sys/services/rpc', 
            'user' => 'services',
            'password' => '.s4rd3gn4IT!',
            'source_image_path' => 'default/files',
            'source_structure' => 'poi',
            'target_structure'=>'poi',
            'nodes_for_page' => '100',
            'refresh_list_minutes' => '60',
            'default_text_type' => 'filtered_html',
            'target_image_dir' => 'public://turismo',
            'exclude_nodes'=>Array('empty_geofield'),
            'field_map' => Array(
              'field_immagine' => Array(
                 'source_fieldname' => 'top_img'                
              ),
              'field_location' => Array(
                'source_fieldname' => 'geofield', 
                'data_processor' => Array('_fill_location'=> Array(),
                                    ),
              ),
              'field_getlocations' => Array(
                'source_fieldname' => 'geofield', 
                'data_processor' => Array('_fill_location'=> Array(),
                                    ),
              ),
              
              'body' => Array(
                //'source_fieldname' => 'province_code',
                'data_processor' => Array('_join_fields' => Array("params" => Array('fields' =>Array('body','field_how_to_arrive','field_info','per_visitare'),),),
                                          '_force_filtered_html_format' => Array())),
              
              'field_original_link'=>Array(
                  'source_fieldname' => 'noSource',
                  'data_processor' =>Array('_original_link' => Array("params" => Array())),
              ),
              
              'field_province' => Array(
                'source_fieldname' => 'doNotMap'),
                
               
       
       'field_geospatial' => Array(
                'source_fieldname' => 'noSource', 
                'data_processor' => Array('_fill_geospatial'=> Array(),
                                    )),
                
               
       )              
  ),

'porti_tpe' => Array(
            'id'=>'1',
            'importer' => 'porti_tpe',
            'domain' => 'http://tpe-geo-demo.sardegnait.csr', 
            'server' => 'http://tpe-geo-demo.sardegnait.csr/services/rpc', 
            'user' => 'services',
            'password' => '.s4rd3gn4IT!',
            'source_image_path' => 'default/files',            
            'source_structure' => 'scheda_porto',
            'target_structure'=>'scheda_porto',
            'nodes_for_page' => '80',
            'refresh_list_minutes' => '60',
            'default_text_type' => 'plain_text',
            'target_image_dir' => 'public://porti',
            'exclude_nodes'=>Array('empty_geofield'),
            'field_map' => Array(
              'body' => Array(
                'data_processor' => Array('_force_language' => Array("params" => Array('lang' =>'it'),))),
              'field_original_link'=>Array(
                  'source_fieldname' => 'noSource',
                  'data_processor' =>Array('_original_link' => Array("params" => Array())),
                ),
               'field_location' => Array(
                 'data_processor' => Array('_fill_location'=> Array(),
                                    ),
              
                                          ),
              'field_servizi' => Array(
                'data_processor' => Array('_force_language' => Array("params" => Array('lang' =>'it'),),
                                          ))
                  ),
  ),
  
'operatori_economici' => Array(
            'id'=>'2',
            'importer' => 'operatori_economici',
            'domain' => 'http://tpe-geo-demo.sardegnait.csr', 
            'server' => 'http://tpe-geo-demo.sardegnait.csr/services/rpc', 
            'user' => 'services',
            'password' => '.s4rd3gn4IT!',            
            'source_image_path' => 'default/files',            
            'source_structure' => 'scheda_operatori_economici',
            'target_structure'=>'scheda_operatori_economici',
            'nodes_for_page' => '80',
            'refresh_list_minutes' => '60',
            'default_text_type' => 'plain_text',
            'target_image_dir' => 'public://operatori_economici',
            'field_map' => Array(
              'field_original_link'=>Array(
                  'source_fieldname' => 'noSource',
                  'data_processor' =>Array('_original_link' => Array("params" => Array()))),
              'field_location' => Array(
                 'data_processor' => Array('_fill_location'=> Array()),             
              ),              
                     
  )
  
),
/*  'poi_turismo' => Array(
            'id'=>'3',
            'importer' => 'poi_turismo',
            'domain' => 'http://tpe-geo-demo.sardegnait.csr', 
            'server' => 'http://tpe-geo-demo.sardegnait.csr/services/rpc', 
            'user' => 'services',
            'password' => '.s4rd3gn4IT!',
            'source_image_path' => 'default/files',            
            'source_structure' => 'poi',
            'target_structure'=>'poi',
            'nodes_for_page' => '50',
            'refresh_list_minutes' => '60',
            'default_text_type' => 'filtered_html',
            'target_image_dir' => 'public://turismo',            
            'field_map' => Array(
              'field_geospatial' => Array(
                'source_fieldname' => 'doNotMap'),
             'field_location' => Array(
                 'data_processor' => Array('_fill_location'=> Array()),             
              ),
              ),
  ),*/
);




?>
