<?php
require_once 'copycat.inc';

$GLOBALS['copycat_config']=Array(

'acme' => Array(
            'id'=>'1',
            'importer' => 'acme',
            'domain' => 'http://www.acme.com', 
            'server' => 'http://www.acme.com/services/rpc', 
            'user' => 'services',
            'password' => '.4cm3rulez!',
            'source_image_path' => 'default/files',            
            'source_structure' => 'acme_product',
            'target_structure'=>'acme_product',
            'nodes_for_page' => '80',
            'refresh_list_minutes' => '60',
            'default_text_type' => 'plain_text',
            'target_image_dir' => 'public://acme',
            'exclude_nodes'=>Array('empty_geofield'),
            'field_map' => Array(
              'body' => Array(
                'data_processor' => Array('_force_language' => Array("params" => Array('lang' =>'it'),))),
              'field_original_link'=>Array(
                  'source_fieldname' => 'noSource',
                  'data_processor' =>Array('_original_link' => Array("params" => Array())),
                ),
               'field_location' => Array(
                 'data_processor' => Array('_fill_location'=> Array(),
                                    ),
              /*  'data_processor' => Array('_force_language' => Array("params" => Array('lang' =>'it'),),)*/
                                          ),
              'field_servizi' => Array(
                'data_processor' => Array('_force_language' => Array("params" => Array('lang' =>'it'),),
                                          ))
                  ),
  )
);

?>
